<div ng-show="loggedIn">
  <div class ="w3-container  w3-border w3-border "style="height:10%">
<input    ng-model="newComment"
          ng-keypress="sendComment($event)"
          placeholder =" EXprimez-vous"
          class="w3-animate-input"  id=comment>


</input>
</div>
<br><br><br>
  <table class ="comment">

    <a  ng-if="incomingComments.length>0" ng-click="setNewComments()" >il y'a {{difference }} nouveaux commentaires </a>
    <tr ng-repeat="comment in comments" style="width:60%; height:14%">


<div class="w3-card-12 w3-light-grey" >
<td><image ng-src="{{comment.userImage}}" class="imgg">


  <strong>  {{comment.user}}</td></strong>

      <td>  {{comment.content}}</td>
      <td>
      {{comment.date | date :'dd/MM/yyyy hh:mm'}}
      <!-- <button ng-click="remove(comment._id)">remove</button> -->
    </td>
  </div>
  </tr>


</table></div>
</div>
</div>
